# Logs
*.log

# Environment
.env
.env.*
!.env.example

# IDE & Editor
.idea
.vscode
.codex
.kiro
.qwen
.antigravity
.phpactor.json
.nova
.zed

# Dependencies
/node_modules
/vendor

# Storage & Cache
/storage/*.key
/storage/pail
/public/storage
/.phpunit.cache
/.phpunit.result.cache

# Build
/public/build
/public/hot
/public/fonts-manifest.dev.json

# System & OS
.DS_Store
Thumbs.db

# Laravel Specific
/auth.json
Homestead.json
Homestead.yaml
_ide_helper.php
